{% extends 'navbar_base.html' %}

{% block content %}
<div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-success bg-opacity-25 rounded-5">
    <div class="display-1 fw-bold text-center my-3">Hello, {{ g.user["firstname"] }}!</div>
    <div class="display-5 fw-bold text-center my-3">Since you joined, you helped plant <span class="display-5 fw-bold text-success text-center">{{ g.user["coins"]//1000 }}</span> trees!</div>

    <a href="/scan" type="button" class="btn btn-success my-3 d-flex flex-column align-items-center w-50 rounded-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-recycle w-50 mt-2" viewBox="0 0 16 16">
        <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244z"/>
      </svg>
      <div class="my-2 fw-bold">Press to start recycling!</div> 
    </a>
</div>

  <div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-body-white rounded-5">
    <div class="display-3 fw-bold my-3">Eco-soldier since <span class="display-3 fw-bold text-success text-center">april 2024</span></div>
    <div class="d-block mb-3 w-100">
      <p class="fw-bold">Progress towards planting another tree:</p>
      <div class="progress position-relative" role="progressbar" aria-label="Progress to next tree" aria-valuenow='{{ ( g.user["coins"] % 1000 ) * 100 // 1000 }}' aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-success overflow-visible" style='width: {{ (g.user["coins"] % 1000) * 100 // 1000  }}%'></div>
        <p class="position-absolute top-50 start-50 translate-middle fw-bold">{{ g.user["coins"] % 1000 }}/1000</p>
      </div>
    </div>
  </div>

  <div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-success bg-opacity-25 rounded-5">
    <p class="display-5 fw-bold my-2">Shop suggestions</p>

    <div id="carouselShopSuggestionsAutoplaying" class="carousel slide w-100" data-bs-ride="carousel">
      <div class="carousel-inner py-3">

        <div class="carousel-item active">
          <div class="card w-100">
            <img src="{{ url_for('static', filename='shop_metrorex.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">METROREX free trips</h5>
              <p class="card-text fw-bold">Activate this benefit for 10 free subway rides around Bucharest.</p>
              <a href="/shop#benefit-1" class="btn btn-success fw-bold">Redeem</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card w-100">
            <img src="{{ url_for('static', filename='shop_stb.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">STB 7-day pass</h5>
              <p class="card-text fw-bold">Activate this benefit for 7 days subscription to public transport.</p>
              <a href="/shop#benefit-3" class="btn btn-success fw-bold">Redeem</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card w-100">
            <img src="{{ url_for('static', filename='shop_trotinete.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">30km with scooters</h5>
              <p class="card-text fw-bold">Activate this benefit for 30km with Bolt electric scooters for free.</p>
              <a href="/shop#benefit-5" class="btn btn-success fw-bold">Redeem</a>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselShopSuggestionsAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselShopSuggestionsAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-body-white rounded-5">
    <div class="display-3 my-3 text-center fw-bold">Locations <span class="display-3 text-success text-center"></span></div>
    <div class="input-group mb-3" style="width: auto;">
        <span class="input-group-text">EcoBoxes in </span> 
        <select id="start" onchange="updateMap()" class="form-select">
          <option value="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2848.4546872407363!2d26.05091209559517!3d44.444346969633415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI2JzQwLjMiTiAyNsKwMDMnMDcuNiJF!5e0!3m2!1sro!2sro!4v1712451946316!5m2!1sro!2sro">Grozavesti</option>
          <option value="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2848.4432439218626!2d26.070340747657777!3d44.4445816563411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI2JzQwLjUiTiAyNsKwMDQnMjUuNiJF!5e0!3m2!1sro!2sro!4v1712452560506!5m2!1sro!2sro">Gara de Nord</option>
          <option value="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.3038633099527!2d26.09903757574252!3d44.42692880204689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff167f95b32f%3A0xb85d6aed7d25d34!2zUGlhyJthIFVuaXJpaSwgQnVjdXJlyJl0aQ!5e0!3m2!1sro!2sro!4v1712452516206!5m2!1sro!2sro">Piata Unirii</option>
          <option value="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2846.451034782135!2d26.109959755843114!3d44.485424197770556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI5JzA3LjUiTiAyNsKwMDYnNDMuNyJF!5e0!3m2!1sro!2sro!4v1712452434468!5m2!1sro!2sro">Pipera</option>
        </select>
    </div>
    <div class="container" style="width: auto; height: 100%;">
      <iframe id="mapFrame" style="border-radius: 10px;" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2848.4546872407363!2d26.05091209559517!3d44.444346969633415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI2JzQwLjMiTiAyNsKwMDMnMDcuNiJF!5e0!3m2!1sro!2sro!4v1712451946316!5m2!1sro!2sro" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-white rounded-5">
    <p class="display-3 text-black fw-bold">Our sponsors:</p>

    <div id="carouselSponsorsAutoplaying" class="carousel slide w-100" data-bs-ride="carousel" data-bs-theme="dark">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='bcr.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">BCR</p></div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='ing.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">ING</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='playtika.png') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">Playtika</p> </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='worldclass.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">World Class</p> </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='bolt.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">Bolt</p> </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card border-0 w-100">
            <img src="{{ url_for('static', filename='pepandpepper.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body bg-white">
              <p class="card-text text-black text-center display-5 fw-bold">Pep&Pepper</p> </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselSponsorsAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselSponsorsAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <script>
    function updateMap() {
      var selectedLocation = document.getElementById('start').value;
      document.getElementById('mapFrame').src = selectedLocation;
    }
  </script>
{% endblock %}
