{% extends 'sticky_footer_navbar_base.html' %}

{% block content %}
<div class="my-2 p-3 mx-3 d-flex flex-column align-items-center bg-body-secondary rounded-5 pb-5 mt-4">
    <div class="display-1 text-center my-3">Scan QR code:</div>
    <a href="/scan2" id="qrcode" class="mt-3"></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
    window.addEventListener('load', function() {
      var mymail = "adsfadsfadf@gmail.com"; 
      
      function generateQRCode() {
        var qrContainer = document.getElementById('qrcode');
        var text = mymail;
  
        qrContainer.innerHTML = '';
        new QRCode(qrContainer, text);
      }
  
      generateQRCode(); 
    });
  </script>
{% endblock %}
