{% extends 'navbar_base.html' %}

{% block content %}
<section class="bg-da py-4 py-md-5 d-flex flex-column" style = "height: 100%;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-between">
              <div class="flex-grow-1 h1 text-warning px-4 " >My shop</div>

              <div class="d-flex align-items-center">

                <div class="mb-0 h5 text-warning me-5" >{{ g.user["coins"] }} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-coin me-2 " viewBox="0 0 16 16">
                    <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                  </svg></div>
              </div>

            </div>
          </div>
        </div>
        
    </div>
      <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-3 ">
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill">
              <div class="card-body">
                <h5 class="card-title">Abonament metrorex 10 calatorii</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.
                </p>
                <div class="d-flex justify-content-between align-items-center mb-0">
                    <div class="input-group">
                    <div class="input-group-text btn btn-primary ">Buy</div>
                    <div class="input-group-text ">100 points</div>
                    </div>
                    <span class="text-muted">weekly</span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road">
              <div class="card-body">
                <h5 class="card-title">Cod reducere Dechatlon 15%</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.
                </p>
                <div class="d-flex justify-content-between align-items-center mb-0">
                    <div class="input-group">
                    <div class="input-group-text btn btn-primary ">Buy</div>
                    <div class="input-group-text ">100 points</div>
                    </div>
                    <span class="text-muted">indefinitely</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers">
              <div class="card-body">
                <h5 class="card-title">Abonament STB 7 zile</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional content.</p>
                  <div class="d-flex justify-content-between align-items-center mb-0">
                    <div class="input-group">
                    <div class="input-group-text btn btn-primary ">Buy</div>
                    <div class="input-group-text ">100 points</div>
                    </div>
                    <span class="text-muted">weekly</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
